body {
  font-family: Arial, sans-serif;
  background-color: #e3f2fd; /* تغيير اللون الخلفي إلى الأزرق الفاتح */
  margin: 0;
  padding: 0;
}

section {
  padding: 20px;
  margin: 20px;
}

input {
  padding: 10px;
  margin: 10px;
  width: 200px;
  border: 1px solid #2196f3; /* وضع حدود باللون الأزرق */
}

button {
  padding: 10px 20px;
  background-color: #2196f3; /* الأزرق */
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #1976d2; /* الأزرق الداكن عند المرور */
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #2196f3;
  color: white;
}
